---
title: RPGs
layout: live
---
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<%= javascript_include_tag  "rpgs" %>

<header>
  <h1>My Visual Storybook</h1>
  <p>Some children grew up on storybooks. I grew up on role-playing games.</p>
</header>

<div class="rpg-lists">
  <section class="rpg-favorites">
    <ol class="rpg-favorite-list">
    <% data.rpgs.top.each do |game| %>
      <li class="rpg-favorite" data-gbid="<%= game.gbid %>">
        <%= game.game %>
      </li>
    <% end %>
    </ol>
  </section>

  <section class="rpg-list">
    <h1 class="total-rpgs"><span class="total-rpg-count js-total-rpg-count"></span> RPGs Played</h1>

    <% data.rpgs.played.each do |series| %>
    <div class="series series-<%= slugify(series.series) %>">
      <h1 class="series-name"><%= series.series %></h1>
      <ul class="series-games">
      <% series.games.each do |game| %>
        <li class="series-game">
            <span class="js-game-name game-name"><%= game.game %></span>
            <span class="game-platforms"><%= game.platforms %></span>
            <span class="game-comment"><%= game.comment %></span>
        </li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </section>
</div>
<aside>
</aside>
