<% wrap_layout :default do %>
<% content_for :description do %><% strip_tags(current_page.summary(150, '...')) %><% end %>
<% content_for :opengraph do %>
<meta property="og:type" content="article">
<meta property="article:published_time" content="<%= current_page.date.strftime("%F") %>">
<meta property="article:author" content="42403178">
<meta property="article:publisher" content="11007806698">
<% end %>

<article class="entry hentry prose" itemscope itemtype="http://schema.org/BlogPosting">
  <meta content="<%= current_page.url %>" itemprop="url">
  <header class="entry-header">
    <div class="entry-wrapper wrapper">
      <h1 class="entry-title" itemprop="headline"><%= current_page.title %></h1>
      <span class="entry-category">
        <span itemprop="articleSection"><%= current_page.data.category %></span>, by
        <a class="vcard author" href="https://twitter.com/bryanveloso" rel="author" itemprop="creator"><span class="fn">Bryan Veloso</span></a>
      </span>
      <a class="scroll-target" href="#top"><span class="ss-icon ss-air ss-navigatedown"></span></a>
    </div>
  </header>
  <div id="top" class="entry-content" itemprop="articleBody">
    <%= yield %>
  </div>
  <footer class="entry-footer metadata-display">
    <div class="entry-dataitem metadata-item">
      <span class="ss-icon ss-air">&#x1F4C5;</span>
      <time pubdate datetime="<%= current_page.date.strftime("%F") %>" class="entry-dataitem-detail" itemprop="datePublished">
        <span class="metadata-prefix">Published</span> <span class="date updated"><%= current_page.date.strftime("%B %-d, %Y") %></span>
      </time>
    </div>
  </footer>
</article>

<%= partial "partials/footer" %>
<%= partial "partials/juke" %>

<% end %>
